<html>

  <head>

    <title>Login Page</title>

  </head>

  <style>

    input {
      width: 250px;
      margin-left: 895px;
    }

    p {
      margin-left: 895px;
    }

    #a {
      width: 100px; 
      margin-left: 960px;
    }

    h1 {
      margin-left: 895px;
    }

  </style>

  <body>

    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <br>

    <div class="container">
    <h1 text-align="center">Please login</h1>
    <br>
    <form action="" method="post">
      <input type="number" placeholder="Phone no." name="phnumber" value="{{
      request.form.number }}">
      <br><br>
      <input type="password" placeholder="Password" name="password" value="{{
      request.form.password }}">
      <br><br>
      <input id="a" class="btn btn-default" type="submit" value="Login">
   </form>

    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    {% if success %}
     <p class="success">{{success}}</p>
     <p> CLick <a href = '/mainmenu'> here </a> to go to the main page</p>
    {% endif %}

   </div>

   

  </body>

</html>